<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>💬Announce Message - Submit</title>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
            defer
        ></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // var key = prompt('Password!');
                // if (key !== 'H)2M?Gt/tGR4LwnL') {
                //     window.location.replace('http://www.google.com');
                // }

                var socket = io();
                document
                    .querySelector('form')
                    .addEventListener('submit', function(e) {
                        e.preventDefault(); // prevents page reloading
                        socket.emit(
                            'send-message',
                            document.querySelector('#input').value
                        );
                        document.querySelector('#input').value = '';
                        return false;
                    });

                socket.on('message', function(data) {
                    const messageElement = document.querySelector('#message');
                    messageElement.textContent = data;
                });
            });
        </script>
        <style>
            body {
                background-color: black;
                color: white;
                font-family: sans-serif;
            }

            button {
                margin: 1rem 0.5rem;
                font-size: 1.5rem;
                padding: 1rem;
                border: none;
                background-color: white;
                color: black;
                border-radius: 1rem;
            }

            input {
                border-radius: 1rem;
                padding: 1rem;
                font-size: 1.2rem;
            }

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100vh;
            }

            .bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <p class="bold">
                Current Message: <span id="message"><%= msg %></span>
            </p>
            <form>
                <input type="text" name="input" id="input" /><button
                    type="submit"
                >
                    Submit
                </button>
            </form>
        </div>
    </body>
</html>
