<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script>
            var socket = io();
            socket.on('message', function(data) {
                const messageElement = document.querySelector('#message');
                messageElement.textContent = data;
                if (data.length > 10) {
                    messageElement.style['font-size'] = '10rem';

                    if (data.length > 30) {
                        messageElement.style['font-size'] = '7rem';
                    }

                    if (data.length > 50) {
                        messageElement.style['font-size'] = '5rem';
                    }
                }
                messageElement.classList.add('animated');
                messageElement.classList.add('wobble');
                messageElement.classList.add('yellow');
                setTimeout(() => {
                    document
                        .querySelector('#message')
                        .classList.remove('animated');
                    document
                        .querySelector('#message')
                        .classList.remove('wobble');
                    document
                        .querySelector('#message')
                        .classList.remove('yellow');
                }, 1500);
            });
        </script>
        <link rel="stylesheet" href="/animate.css" />
        <style>
            body {
                background-color: black;
            }

            h1 {
                font-family: sans-serif;
                font-size: 15rem;
                text-align: center;
                color: white;
                width: 100%;
            }

            .yellow {
                color: yellow !important;
                transition: all 0.5s ease-in-out;
            }

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 id="message"><%= msg %></h1>
        </div>
    </body>
</html>
